{% extends 'BehatViewerBundle::layout.form.html.twig' %}


{% block notification %}
    {% if success %}
        <div class="alert alert-block alert-success" data-rel="notification" data-type="success">Settings were successfully saved.</div>
    {% endif %}
{% endblock %}

{% block action %}{{ path('behatviewer.project.create') }}{% endblock %}

{% block title %}
    New project
{% endblock %}

{% block before %}
    {% if hasproject is defined and not hasproject %}
        <div class="alert alert-block alert-info">
            <h4 class="alert-heading">No project configured</h4>

            <p>Before using Behat Viewer, you should configure your project.</p>
        </div>
    {% endif %}
{% endblock %}

{% block container %}
    {{ parent() }}

    {% for label, strategy in strategies %}
        <div id="{{ strategy.name }}" class="hide">
            <h4>{{ label }}</h4>
            {{ form_errors(strategy) }}

            {{ form_rest(strategy) }}

            {% block extrastrategy %}{% endblock %}
        </div>
    {% endfor %}
{% endblock %}

{% block after %}
    <div id="strategies">
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(function() {
            var show = function($e) {
                    hide($('.show'));
                    $e.removeClass('hide').addClass('show').appendTo($('#strategies'));
                },
                hide = function($e) {
                    $e.removeClass('show').addClass('hide').appendTo($('body'));
                },
                change = function($e) {
                    show($('#' + $e.val()));
                };

            $('#Project_strategy').change(function() {
                change($(this));
            });

            change($('#Project_strategy'));
        });
    </script>
{% endblock %}
