{% extends 'BehatViewerBundle:Project:create.html.twig' %}

{% block action %}{{ path('behatviewer.project.edit', {'username': project.user.username, 'project': project.slug}) }}{% endblock %}

{% block title %}
    Project configuration
{% endblock %}

{% block after %}
    <div class="control-group">
        <label for="key" class="control-label">SSH Key</label>
        <div id="key" class="controls">
            <p class="well" style="word-wrap:break-word; padding: 10px; padding-top: 5px">{{ ssh_key }}</p>
        </div>
    </div>
{% endblock %}

{% block extrabuttons %}
    <a href="{{ path('behatviewer.homepage') }}" class="pull-left btn">Cancel</a>
{% endblock %}

{% block buttons %}
    {{ parent() }}
    <a href="{{ path("behatviewer.project.delete", {"username": project.user.username, "project": project.slug}) }}" class="btn btn-danger">Delete</a>
{% endblock %}
