{% extends 'BehatViewerBundle::layout.table.html.twig' %}

{% block title %}
    <h1 class="page-header">
        Manage projects

        <div class="pull-right">
            <div class="btn-group">
                <a class="btn" href="{{ path('behatviewer.project.create') }}">
                    <i class="icon-plus"></i> Add project
                </a>
            </div>
        </div>
    </h1>
{% endblock %}

{% block sort %}{sortlist: [[1,0]]}{% endblock %}

{% block thead %}
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Identifier</th>
        <th>Type</th>
        <th>Visibility</th>
        <th class="{sorter: false}">Action</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for proj in items %}
        <tr>
            <td>{{ proj.id }}</td>
            <td>{{ proj.name }}</td>
            <td>{{ proj.slug }}</td>
            <td>{{ proj.strategy }}</td>
            <td>{{ proj.type }}</td>
            <td>
                <div class="btn-group" id="toolbar">
                    <a href="{{ path('behatviewer.project', {"project": proj.slug, "username": proj.user.username}) }}" class="btn">View</a>
                    <a href="{{ path('behatviewer.project.edit', {"project": proj.slug, "username": proj.user.username}) }}" class="btn">Edit</a>
                    <a href="{{ path('behatviewer.project.delete', {"project": proj.slug, "username": proj.user.username}) }}" class="btn btn-danger">Delete</a>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
