{% set steps = feature.stat.steps %}
{% set scenarios = feature.stat.scenarios %}

{% if steps > 0 %}
    {% set passed = feature.stat.stepsPassed %}
    {% set passedpcnt = ((passed / steps) * 100)|round(3) %}
{% else %}
    {% set passedpcnt = 0 %}
{% endif %}

{% if feature.description != '' %}
    {% autoescape false %}<p>{{ feature.description|nl2br }}</p>{% endautoescape %}
{% endif %}

{% if feature.tags|count %}
<p>
    {% for tag in feature.tags %}
        <a href="{{ path("behatviewer.tag", {slug: tag.slug}) }}" class="label label-info"> {{ tag.name }} </a>&nbsp;
    {% endfor %}
</p>
{% endif %}

<div class="well sidebar-nav clearfix">
    <ul class="nav nav-list">
        <li class="nav-header">Summary</li>
        <li>
            {%
                include 'BehatViewerBundle::Components/progress-bar.html.twig'
                with {
                    'passed': feature.stat.stepsPassed,
                    'failed': feature.stat.stepsFailed,
                    'skipped': feature.stat.stepsSkipped + feature.stat.stepsPending,
                    'undefined': feature.stat.stepsUndefined
                }
            %}
        </li>
    </ul>

    <ul class="nav nav-list pull-left">
        <li class="nav-header">Feature:</li>
        <li>
            <span class="success" style="color: #62C462; font-weight: bold">
                Completion: {{ passedpcnt|round }}%
            </span>
        </li>
    </ul>
    <ul class="nav nav-list pull-left">
        <li class="nav-header">Scenarios:</li>
        {% if feature.stat.scenariosPassed > 0 %}
            <li>
                <span class="success" style="color: #62C462; font-weight: bold">
                    Passed: {{ feature.stat.scenariosPassed }} / {{ scenarios }}
                </span>
            </li>
        {% endif %}
        {% if feature.stat.scenariosFailed > 0 %}
            <li>
                <span class="danger" style="color: #EE5F5B; font-weight: bold">
                    Failed: {{ feature.stat.scenariosFailed }} / {{ scenarios }}
                </span>
            </li>
        {% endif %}
    </ul>
    <ul class="nav nav-list pull-left">
        <li class="nav-header">Steps:</li>
        {% if feature.stat.stepsPassed > 0 %}
            <li>
                <span class="success" style="color: #62C462; font-weight: bold">
                    Passed: {{ feature.stat.stepsPassed }} / {{ steps }}
                </span>
            </li>
        {% endif %}
        {% if feature.stat.stepsFailed > 0 %}
            <li>
                <span class="danger" style="color: #EE5F5B; font-weight: bold">
                    Failed: {{ feature.stat.stepsFailed }} / {{ steps }}
                </span>
            </li>
        {% endif %}
        {% if feature.stat.stepsSkipped > 0 %}
        <li><span class="info" style="color: #5BC0DE; font-weight: bold">Skipped: {{ feature.stat.stepsSkipped }} / {{ steps }}</span>
        </li>
        {% endif %}
        {% if feature.stat.stepsPending > 0 %}
        <li><span class="info" style="color: #5BC0DE; font-weight: bold">Pending: {{ feature.stat.stepsPending }} / {{ steps }}</span>
        </li>
        {% endif %}
        {% if feature.stat.stepsUndefined > 0 %}
        <li><span class="warning"
                  style="color: #FBB450; font-weight: bold">Undefined: {{ feature.stat.stepsUndefined }} / {{ steps }}</span></li>
        {% endif %}
    </ul>
</div>

<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Scenarios</li>
        {% for scenario in feature.scenarios %}
        <li><a href="#{{ scenario.slug }}">{{ scenario.name }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Features</li>
        {% for feature in features %}
        <li><a href="{{ path('behatviewer.feature', {'username': project.user.username, 'project': project.slug, 'build': build.id, 'feature':feature.slug}) }}">{{ feature.name }}</a></li>
        {% endfor %}
    </ul>
</div>
