{% set steps = feature.getStepsHavingStatusCount() %}

{% if steps > 0 %}
{% set passed = feature.getStepsHavingStatusCount('passed') %}
{% set passedpcnt = ((passed / steps) * 100)|round(3) %}

{% set failed = feature.getStepsHavingStatusCount('failed') %}
{% set failedpcnt = ((failed / steps) * 100)|round(3) %}

{% set skipped = feature.getStepsHavingStatusCount('skipped') %}
{% set skippedpcnt = ((skipped / steps) * 100)|round(3) %}

{% set undefined = feature.getStepsHavingStatusCount('undefined') %}
{% set undefinedpcnt = ((undefined / steps) * 100)|round(3) %}

{% set pending = feature.getStepsHavingStatusCount('pending') %}
{% set pendingpcnt = ((pending / steps) * 100)|round(3) %}
{% endif %}

<tr class="navig">
    <td>
        <strong>{{ feature.name }}</strong>
        {% if feature.tags|count > 0 %}
            <br/>
            {% for tag in feature.tags %}
                <a href="{{ path("behatviewer.tag", {slug: tag.slug}) }}" class="label label-info"> {{ tag.name }} </a>&nbsp;
            {% endfor %}
        {% endif %}
    </td>
    <td style="width: 10%">{% if steps > 0 %}{{ passedpcnt|round }}{% else %}0{% endif %}%</td>
    <td style="min-width: 250px; width: 25%" data-value="{% if steps > 0 %}{{ passedpcnt|round }}{% else %}0{% endif %}">
        {%
            include 'BehatViewerBundle::Components/progress-bar.html.twig'
            with {
                'passed': feature.getStepsHavingStatusCount('passed'),
                'failed': feature.getStepsHavingStatusCount('failed'),
                'skipped': feature.getStepsHavingStatusCount('skipped') + feature.getStepsHavingStatusCount('pending'),
                'undefined': feature.getStepsHavingStatusCount('undefined')
            }
        %}
    </td>
    <td data-value="{{ steps }}">
        {%
            include 'BehatViewerBundle::Components/progress-summary.html.twig'
            with {
                'class': 'pull-left',
                'passed': feature.getStepsHavingStatusCount('passed'),
                'failed': feature.getStepsHavingStatusCount('failed'),
                'skipped': feature.getStepsHavingStatusCount('skipped') + feature.getStepsHavingStatusCount('pending'),
                'undefined': feature.getStepsHavingStatusCount('undefined')
            }
        %}
    </td>
    <td class="action">
        <a class="btn" href="{{ path('behatviewer.feature', {'username': project.user.username, 'project': project.slug, 'build': build.id, 'feature':feature.slug}) }}">Details &raquo;</a>
    </td>
</tr>
