{% extends 'BehatViewerBundle::layout.html.twig' %}

{% block container %}
<h1 class="page-header">
    Projects

    <div class="pull-right">
        <div class="btn-group">
            <a class="btn" href="{{ path('behatviewer.project.create') }}">
                <i class="icon-plus"></i> <span>Add project</span>
            </a>
        </div>
    </div>
</h1>

<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            {% for project in projects %}
                {% set passedpcnt = 0 %}
                {% if project.lastBuild != null %}
                    {% set features = project.lastBuild.stat.features %}

                    {% if features > 0 %}
                        {% set passedpcnt = ((project.lastBuild.stat.featuresPassed / features) * 100)|round(3) %}
                    {% endif %}
                {% endif %}

                <div class="span4 clearfix">
                    <h3>{{ project.user.username }}/{{ project.name }} ({% if features is defined and features > 0 %}{{ passedpcnt|round }}%{% else %}No features{% endif %})</h3>
                    <br/>
                    {%
                        include 'BehatViewerBundle::Components/progress-bar.html.twig'
                        with {
                            'passed': project.lastBuild != null ? project.lastBuild.stat.featuresPassed : 0,
                            'failed': project.lastBuild != null ? project.lastBuild.stat.featuresFailed : 0,
                            'skipped': 0,
                            'undefined': 0
                        }
                    %}
                    {% if project.lastBuild != null %}
                        {%
                            include 'BehatViewerBundle::Components/progress-summary.html.twig'
                            with {
                                'class': 'pull-left',
                                'passed': project.lastBuild.stat.featuresPassed,
                                'failed': project.lastBuild.stat.featuresFailed,
                                'skipped': 0,
                                'pending': 0,
                                'undefined': 0
                            }
                        %}
                    {% endif %}

                    <div class="btn-group pull-right">
                        <a class="btn" href="{{ path("behatviewer.project", {"username": project.user.username, "project": project.slug}) }}">Details &raquo;</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
