{% set steps = build.stat.steps %}

{% if steps > 0 %}
    {% set passedpcnt = ((build.stat.stepsPassed / steps) * 100)|round(3) %}
{% else %}
    {% set passedpcnt = 0 %}
{% endif %}

<tr class="navig">
    {% if is_granted('EDIT', build.project) %}
        <td style="width: 15px">
            <input type="checkbox" value="{{ build.id }}" name="delete[]" id="Build_delete_{{ build.id }}"/>
        </td>
    {% endif %}
    <td style="width: 5%"><strong>{{ build.id }}</strong></td>
    <td data-rel="moment">
        {{ build.date|date("Y-m-d H:i:s") }}
    </td>
    <td style="width: 10%">{{ passedpcnt|round }}%</td>
    <td style="min-width: 250px; width: 25%" data-value="{{ passedpcnt }}">
        {%
            include 'BehatViewerBundle::Components/progress-bar.html.twig'
            with {
                'passed': build.stat.stepsPassed,
                'failed': build.stat.stepsFailed,
                'skipped': build.stat.stepsSkipped + build.stat.stepsPending,
                'undefined': build.stat.stepsUndefined
            }
        %}
    </td>
    <td data-value="{{ steps }}">
        {%
            include 'BehatViewerBundle::Components/progress-summary.html.twig'
            with {
                'class': 'pull-left',
                'passed': build.stat.stepsPassed,
                'failed': build.stat.stepsFailed,
                'skipped': build.stat.stepsSkipped,
                'pending': build.stat.stepsPending,
                'undefined': build.stat.stepsUndefined
            }
        %}
    </td>
    <td class="action" style="min-width: 150px; width: 10%">
        <div class="btn-group" id="toolbar">
            <a href="{{ path('behatviewer.history.entry', {"username": project.user.username, "project": project.slug, "build": build.id}) }}" class="btn">Details</a>
            {% if is_granted('EDIT', build.project) %}
                <a href="{{ path('behatviewer.history.delete', {"username": project.user.username, "project": project.slug, "build": build.id}) }}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </td>
</tr>
