{% extends 'BehatViewerUiBundle::layout.html.twig' %}

{% if items is not defined %}
    {% set items = build.features %}
{% endif %}

{% block alert %}
<div class="alert alert-block alert-info">
    <h4 class="alert-heading">No feature</h4>

    <p>
        This project has not been built yet.
        To build it, please run <code>app/console behat-viewer:build {{ project.slug }}</code>.
    </p>
</div>
{% endblock %}

{% block container %}
<h1 class="page-header">
    {% if not tag is defined %}
        Features for {{ project.name }}
    {% else %}
        Tag {{ tag.name }}
    {% endif %}

    {% if build != null %}
        <small>(#{{ build.id }} Built <span data-rel="moment">{{ build.date|date("Y-m-d H:i:s")}}</span>)</small>
    {% endif %}

    {% include 'BehatViewerBundle::History/switcher.html.twig' %}
</h1>

<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            {% if items|count > 0 %}
                {% for feature in items %}
                    {% include 'BehatViewerBundle::History/feature.html.twig' %}

                    {% if loop.index is divisibleby(3) %}
                        </div>
                        <br/>
                        <div class="row-fluid">
                    {% endif %}
                {% else %}
                    {{ block('alert') }}
                {% endfor %}
            {% else %}
                {{ block('alert') }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        JSC.require(
            'behat-viewer/home',
            function() {
                $(function() {
                    app.controller.current(new HomeController('#container'));
                });
            }
        );
    </script>
{% endblock %}
