{% set steps = feature.stat.steps %}

{% if steps > 0 %}
    {% set passed = feature.stat.stepsPassed %}
    {% set passedpcnt = ((passed / steps) * 100)|round(3) %}
{% else %}
    {% set passedpcnt = 0 %}
{% endif %}

<tr class="navig">
    <td>
        <strong>{{ feature.name }}</strong>
        {% if feature.tags|count > 0 %}
            <br/>
            {% for tag in feature.tags %}
                {%
                    include 'BehatViewerBundle::Components/tag.html.twig'
                    with {
                        'tag': tag
                    }
                %}
            {% endfor %}
        {% endif %}
    </td>
    <td style="width: 10%">{% if steps > 0 %}{{ passedpcnt|round }}{% else %}0{% endif %}%</td>
    <td style="min-width: 250px; width: 25%" data-value="{% if steps > 0 %}{{ passedpcnt|round }}{% else %}0{% endif %}">
        {%
            include 'BehatViewerBundle::Components/progress-bar.html.twig'
            with {
                'passed': feature.stat.scenariosPassed,
                'failed': feature.stat.scenariosFailed,
                'skipped': 0,
                'undefined': 0
            }
        %}
    </td>
    <td data-value="{{ steps }}">
        {%
            include 'BehatViewerBundle::Components/progress-summary.html.twig'
            with {
                'class': 'pull-left',
                'passed': feature.stat.scenariosPassed,
                'failed': feature.stat.scenariosFailed,
                'skipped': 0,
                'pending': 0,
                'undefined': 0
            }
        %}
    </td>
    <td class="action">
        <a class="btn" href="{{ path('behatviewer.feature', {'username': project.user.username, 'project': project.slug, 'build': build.id, 'feature':feature.slug}) }}">Details &raquo;</a>
    </td>
</tr>
