{% block field_row %}
    <div class="control-group{% if errors|count > 0 %} error{% endif %}">
        {{ form_label(form) }}

        <div class="controls">
            {{ form_widget(form) }}

            {{ form_errors(form) }}
        </div>
    </div>
{% endblock %}


{% block field_label %}
    <label for="{{ id }}" class="control-label" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label }}</label>
{% endblock %}

{% block field_errors %}

    {% for error in errors %}
        <br/>
        <span class="help-inline">
            {{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}
        </span>
    {% endfor %}
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="alert alert-error alert-block">
            {% for error in errors %}
                <p>
                    {{
                        error.messagePluralization is null
                            ? error.messageTemplate|trans(error.messageParameters, 'validators')
                            : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                    }}
                </p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock form_errors %}
