<div id="toolbar" class="navbar navbar-inverse navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('behatviewer.homepage') }}">Behat Viewer</a>

            <div class="nav-collapse">
                <ul class="nav">
                    {% if project is defined and project != null %}
                        <li><a href="{{ path('behatviewer.project', {'username': project.user.username, 'project': project.slug}) }}">Features</a></li>
                        <li><a href="{{ path('behatviewer.history', {'username': project.user.username, 'project': project.slug}) }}">History</a></li>
                        <li><a href="{{ path('behatviewer.stats', {'username': project.user.username, 'project': project.slug}) }}">Stats</a></li>
                        <li><a href="{{ path('behatviewer.definitions', {'username': project.user.username, 'project': project.slug}) }}">Definitions</a></li>
                    {% endif %}
                    <li><a href="{{ path('behatviewer.help') }}">Help</a></li>
                    <li>
                        <div id="loader"></div>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    {% if build is defined and build != null and build.id != project.lastBuild.id %}
                        <li>
                            <button id="last-build" href="{{ path('behatviewer.history.entry', {'username': project.user.username, 'project': project.slug, 'build': project.lastBuild.id}) }}" class="btn btn-primary">Last build &raquo;</button>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="dropdown" data-rel="usermenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Logged in as <span data-rel="username">{% if app.user %}{{ app.user.username }}{% endif %}</span>
                                <img data-rel="avatar" data-size="24" class="gravatar" src="{% if app.user %}{{ app.user.email|gravatar(24)}}{% endif %}" />
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('behatviewer.profile') }}"><i class="icon-user"></i> Profile</a></li>
                                <li class="divider"></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('behatviewer.users') }}"><i class="icon-cogs"></i> Admin</a></li>
                                    <li><a href="{{ path('behatviewer.config') }}"><i class="icon-cog"></i> Config</a></li>
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="{{ path('behatviewer.logout') }}"><i class="icon-signout"></i> Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li data-rel="login">
                            <a href="{{ path('behatviewer.login') }}">Log in</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
