{% extends 'BehatViewerUiBundle::layout.table.html.twig' %}

{% block title %}
    {% if overview %}
        <div class="row-fluid">
            {% set class = overview.queue_totals.messages_unacknowledged == 0 ? "success" : "danger" %}
            <div class="span4 alert alert-block alert-{{ class }}">
                <p style="text-align: center; font-size: 4em; margin: 20px 0 30px 0">
                    {{ overview.queue_totals.messages_unacknowledged }}
                    <span style="font-size: 0.4em; color: #CFCFCF">({{ overview.queue_totals.messages_unacknowledged_details.rate|round(2) }} msg/s)</span>
                </p>
                <p style="text-align: center; font-size: 1.5em">Unacked messages</p>
            </div>

            <div class="span4 alert alert-block alert-info">
                <p style="text-align: center; font-size: 4em; margin: 20px 0 30px 0">
                    {{ overview.queue_totals.messages_ready }}
                    <span style="font-size: 0.4em; color: #CFCFCF">({{ overview.queue_totals.messages_ready_details.rate|round(2) }} msg/s)</span>
                </p>
                <p style="text-align: center; font-size: 1.5em">Ready messages</p>
            </div>

            <div class="span4 alert alert-block alert-info">
                <p style="text-align: center; font-size: 4em; margin: 20px 0 30px 0">
                    {{ overview.queue_totals.messages }}
                    <span style="font-size: 0.4em; color: #CFCFCF">({{ overview.queue_totals.messages_details.rate|round(2) }} msg/s)</span>
                </p>
                <p style="text-align: center; font-size: 1.5em">Total messages</p>
            </div>
        </div>
    {% endif %}

    <h1 class="page-header">
        Workers status
    </h1>
{% endblock %}

{% block before %}

{% endblock %}

{% block thead %}
    <tr>
        <th>Node</th>
        <th>User</th>
        <th>Peer</th>
        <th>Virtual Host</th>
        <th>Status</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for worker in items %}
        <tr>
            <td>{{ worker.node }}</td>
            <td>{{ worker.user }}</td>
            <td>{{ worker.peer_address }}:{{ worker.peer_port }}</td>
            <td>{{ worker.vhost }}</td>
            <td>
                {% set class = worker.state == "running" ? "success" : "info" %}

                <span class="label label-{{ class }}">{{ worker.state }}</span>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block alert %}
    <div class="alert alert-error alert-block">
        <h4 class="alert-heading">No running worker</h4>
        <p>There are currently no running worker.</p>
        <p>You should launch at least one to build projects or check your configuration if it's already running.</p>
    </div>
{% endblock %}
