{% extends 'BehatViewerUiBundle::layout.table.html.twig' %}

{% block title %}
<div class="row-fluid" xmlns="http://www.w3.org/1999/html">
        <div class="alert alert-block alert-{{ status.count is defined ? 'success' : 'error' }}">
            <h4>Message broker status</h4>

            <p>
                Message broker at {{ pusher.host }}:{{ pusher.port }} is
                {% if status.count is defined %}
                    up and running : {{ status.count }} user(s) online.
                {% else %}
                    not running : you won't be able to use the realtime log.
                {% endif %}
            </p>
        </div>
    </div>

    <h1 class="page-header">Jobs</h1>
{% endblock %}

{% block sort %}{sortlist: [[0,1]]}{% endblock %}

{% block thead %}
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Project</th>
        <th>Status</th>
        <th class="{sorter: false}">Action</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for job in items %}
        <tr>
            <td>
                {{ job.id }}
            </td>
            <td>{{ job.project.user.username }}</td>
            <td>{{ job.project.name }}</td>
            <td>
                {% set class = (job.status == 'running' ? 'info' : (job.status == 'success' ? 'success' : (job.status == 'pending' ? '' : 'important'))) %}
                <span class="label {% if class %}label-{{ class }}{% endif %}">{{ job.status }}</span>
            </td>
            <td>
                <div class="btn-group" id="toolbar">
                    <a href="{{ path('behatviewer.worker.job.log', {"id": job.id}) }}" class="btn">View</a>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

